
  .containerBody {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    text-align: center; 
  }

    .title {
      font-size: 50px;
      margin-bottom: 20px;
    }
    
    .length-control {
      width: 250px;
    }
  
    .btn {
  
      padding: 10px;
      font-weight: bold;
      margin: 10px;
      background: none;
      outline: none;
      border: 1px solid white;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }
  
    .btn:hover {
      background: white;
      color: black;
    }
  
    .btn-level,
    .length-control {
      display: inline-block;
    }
    .btn-level:nth-child(3) {
      width: 40px;
    }
  
    .timer {
      margin: 40px auto 10px auto;
      width: 270px;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
  } 
      #time-left {
        font-family: digital;
        font-size: 80px;
      }